# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore virtual environment files
venv/
env/
.venv/

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore log files
*.log

# Ignore generated build files
/build/
/dist/
*.spec

# Ignore generated output
output/

# Ignore system-specific files
.DS_Store
Thumbs.db
